
<div th:fragment="navbar">
    <nav>
        <ul>
              <li><a href="/dashboard">Home</a></li> 
              <!-- <li><a href="/deposit">Deposit</a></li>
              <li><a href="/withdraw">Withdraw</a></li>
              <li><a href="/cashin">Cash In</a></li>
              <li><a href="/send">Send</a></li>
              <li><span style="color:grey;"> Bank Transfer (comming soon)</span></li> -->
              <li><a href="/history">History</a></li> 
              <li><a href="/settings">Settings</a></li> 
        </ul>
    </nav>
    <hr>
</div>